################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PACMAN/v15/Server/sqlite3/storage.ide-shm
